<%= form_tag("/directors", method: "get") do %>
  <%= link_to "Show all directors", "/directors" %> •
  <a id="add-director-link" href="/directors/new">Add a director</a> •
  <%= label_tag(:age, "See all directors by age:") %>
  <%= text_field_tag(:age) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @director_count == 0 %>
 <div>
   <p id="no-directors-found">No directors found with those criteria.</p>
   <%= link_to "Back to all directors", "/directors" %>
 </div>
<% end %>

<% if @director_count > 0 %>
 <div id="statistics">
   <h2>Statistics</h2>
   <p>Average age: <%= @director_avg_age.round(0).to_i %></p>
   <p>Total episode count: <%= @episode_count %></p>
   <p>All cities:
     <% @all_director_cities.each do |city| %>
      <%= " #{city}#{";" if city != @all_director_cities.last}" %>
     <% end %>
   </p>
 </div>
<% end %>

<div class="card-deck">
  <% @directors.each do |director| %>
    <div class="card director-card" id="director-<%= director.id %>">
      <img src="<%= director.thumbnail %>" class="card-img-top director-thumbnail" alt="<%= director.name %> thumbnail">
      <div class="card-body">
        <h3 class="card-title"><%= director.name %></h3>
        <p class="card-text"><%= director.age %></p>
        <p class="card-text"><%= director.city %></p>

        <% if director.episode_count > 0 %>
          <h5 class="episode-label">Episodes (<%= director.episode_count %>):</h5>
        <% end %>

        <% director.episodes.each do |episode| %>
          <div class="card mb-3 episode-card" id="episode-<%= episode.id %>" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title"><%= episode.title %></h6>
                  <p class="card-text"><%= episode.viewers %> million viewers</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
