<header>
  <h1>Game of Thrones - Directors</h1>
</header>

<div class="card-deck">
  <% @directors.each do |director| %>
    <div class="card director-card" id="director-<%= director.id %>">
      <img src="<%= director.thumbnail %>" class="card-img-top director-thumbnail" alt="<%= director.name %> thumbnail">
      <div class="card-body">
        <h3 class="card-title"><%= director.name %></h3>
        <p class="card-text"><%= director.age %></p>
        <p class="card-text"><%= director.city %></p>

        <% if director.episodes.count > 0 %>
          <h5 class="episode-label">Episodes (<%= director.episodes.count %>):</h5>
        <% end %>

        <% director.episodes.each do |episode| %>
          <div class="card mb-3 episode-card" id="episode-<%= episode.id %>" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title"><%= episode.title %></h6>
                  <p class="card-text"><%= episode.viewers %> million viewers</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
