<div id="new-director-header">
  <h2>Add a director:</h2>
</div>

<% if @failed %>
  <p id="failed-to-create">Failed to create new director. Try again.</p>
<% end %>

<%= form_for @director do |f| %>
  <% f.options[:html][:class] += ' form-group' %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <small class="form-text text-muted">
    (Required)
  </small>
  <br>
  <%= f.label :birth_year %>
  <%= f.text_field :birth_year, class: 'form-control' %>
  <small class="form-text text-muted">
    (Required. Please enter a whole number.)
  </small>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>
  <small class="form-text text-muted">
    (Required)
  </small>
  <br>
  <%= f.submit class: 'btn-primary btn-lg btn-block' %>
<% end %>
<div id="back-to-main">
  <a href="/directors">Back to main</a>
</div>
